html  
    head
        title Using Pug 
    body
        header
            h1 This is content of h1
        section
            p This is content of p 
        footer
            This is content of footer