extends ../layouts/common

block content
  h1
    span.mr-3 Cart
  
  div=cartUser.id
  table.table
    tr
      th product 
      th quantity 
      th total
      th status
      th Actions
    tr
      td 
      td
      td=cartUser.total
      td=cartUser.status
      
      td
        a.btn.btn-light(href='/cart/edit/'+cartUser.id) Buy
