extends ../layouts/common

block content
  h1
    span.mr-3 Cart
  
  div=cartUser.products
  table.table
    tr
      th product 
      th quantity 
      th total
      th Actions
    each cart in cartUser   
      tr
        td 
        td=cart.products?.product_id.name
        td=cart.total
        
        td
          a.btn.btn-light(href='/user/info/edit') Edit
