extends ../layouts/common

block content
  h1
    span.mr-3 Cart
  
  div=cartUser.id
  table.table
    tr
      th product 
      th quantity 
      th total
      
      th Actions
    tr
      td 
      td
      td=cartUser.total 
      
      
      td
        a.btn.btn-success(href='/cart/edit/'+cartUser.id) Buy
        a.btn.btn-danger(href='/cart/delete/'+cartUser.id) Delete
